* {
  box-sizing: border-box;
}

:root {
  --main-color: #333;
  --primary-color: #fff;
  --primary-second-color: #2690d4;
}

/* body */
body {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  background: var(--main-color);
  color: var(--primary-color);
  font-size: 1.1em;
  line-height: 1.5;
  text-align: center;
  min-width: 400px;
}

/* header */
header {
  min-height: 450px;
  color: var(--primary-color);
  text-align: center;
}

header .content,
.section-a .content {
  padding: 0 1.5em;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 1em 0;
}

header h1 {
  padding-top: 100px;
  padding-bottom: 0;
}

.button {
  display: inline-block;
  background: #333;
  color: var(--primary-color);
  text-decoration: none;
  padding: 1em 2em;
  border: 1px solid #666;
  margin: 0.5em 0;
}
.bg-image {
  position: absolute;
  background: var(--main-color)
    url(https://static.pexels.com/photos/248515/pexels-photo-248515.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 450px;
  z-index: -1;
  opacity: 0.4;
}

/* main */
/* main {
  display: block;
} */

.section-a {
  background-color: var(--primary-color);
  color: var(--main-color);
  padding-bottom: 2em;
}

.section-b {
  padding: 2em 1em 1em;
}

.section-b li {
  margin-bottom: 1em;
  background: var(--primary-color);
  color: var(--main-color);
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.card-content {
  padding: 1.5em;
}

.section-c {
  background: var(--primary-color);
  color: var(--main-color);
  padding: 2em;
}

.section-d .container:first-child {
  background: var(--primary-second-color);
}

.section-d .container {
  padding: 2em;
  color: var(--primary-color);
}

/* footer */
.main-footer {
  padding: 2em;
  background: #000;
  color: var(--primary-color);
  text-align: center;
}

.myMail {
  color: var(--primary-second-color);
}

/* Adaptiv */
@media (min-width: 700px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
  }
  .columns-a p {
    padding-top: 0;
  }
  .section-a .columns-a {
    columns: 2;
    column-gap: 2em;
  }
  .content,
  .section-b ul {
    grid-column: 2/4;
  }
  .section-b ul {
    display: flex;
    justify-content: space-around;
  }
  .section-b li {
    width: 31%;
  }
  .container,
  .main-footer div {
    grid-column: span 2;
  }
}
